.App {
  text-align: center;
  background: #fff;
  color: rgb(51, 50, 50);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container,
.header-container,
.footer-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

.header-title {
  font-size: 1.5rem;
  font-weight: 300;
}

.up,
.filter,
.content {
  background-color: ivory;
  border: 1px solid lightgray;
  padding: 20px;
}
.up {
  margin: 0 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.up-box {
  flex: 1;
  text-align: center;
}

.up-title {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
}

.grid {
  padding: 50px auto;
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  column-gap: 30px;
}
.filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.filter > button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 3px;
}

.letters {
  display: grid;
  grid-template-columns: 1fr;
}
.letters-all {
  margin: 0 auto;
  padding: 5px 0;
}
.alfabet {
  display: flex;
  padding: 10px 0;
}
.alfabet__btn--active {
  font-weight: 700;
  color: tomato;
}
.alfabet > button {
  font-weight: 500;
}

.alfabet > button:disabled {
  color: rgb(83, 81, 81, 0.5);
  font-weight: 300;
}

.alfabet > * {
  flex: 1;
}

.content {
  padding: 20px;
}

.card-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.card {
  margin: 20px;
  background-color: rgba(184, 178, 178, 0.5);
  border: 1px solid rgb(12, 12, 12, 0.5);
}

.card-img-box {
  width: 420px;
  height: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.card-img {
  width: 100%;
  object-fit: cover;
  width: 400px;
}

.card-info {
  display: flex;
  padding: 5px 10px;
  padding: 5px 10px;
  align-items: center;
  justify-content: space-between;
}
.card-info__left {
  /* flex: 1; */
  padding: 0 5px;
}
.card-info__right {
  align-self: flex-start;
}

.card-info__upper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.card-item,
.card-hash {
  background-color: rgb(238, 180, 54, 0.5);
  border-radius: 8px;
  border: 1px solid lightgray;
  padding: 5px;
  margin: 5px;
  text-align: center;
}
.card-hash {
  font-size: 0.8rem;
}
.page-btn {
  border: none;
  margin: 5px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination > * + div {
  margin-left: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-open {
  background-color: rgb(88, 88, 88, 0.5);
  color: aliceblue;
  padding: 1px;
  font-weight: 500;
}
.modal-logo {
  width: 30px;
  transition: width 0.2s ease;
}
.modal-logo:hover {
  width: 34px;
}

.modal-close {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  text-decoration: none;
  font-weight: 300;
}
.modal-close:hover {
  font-weight: 700;
}

.modal-close span {
  border: 2px solid #fff;
  border-radius: 50%;
  color: white;
  font-size: 30px;
  padding: 4px;
  width: 56px;
  height: 56px;
  text-decoration: none;
}
button.modal-close {
  text-decoration: none;
}

.modal-btn-span {
  text-decoration: none;
}
